.box {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  max-width: 300px;
  border: 1px solid #eef2f3;
}

.title {
  font-size: 22px;
  color: #2c3e50;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #3498db;
  text-align: center;
}

.text {
  font-size: 16px;
  color: #555;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize; 
}


.text::after {
  font-weight: 700;
  color: #2c3e50;
}


.text:last-child {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px dashed #dcdde1;
  color: #27ae60;
  font-weight: 600;
}



